  <script type="text/javascript">
    $('#menu').click(function() {
  
      $('header nav ul').fadeToggle();
      return false;
    });

    $('header nav ul a').click(function() {
  
      $('header nav ul').fadeOut();
    });
  </script>

<section>
  <div class="inside center">

    <article id="works" style="margin-top: 200px">
        <h2>
            <% if mobile_device? %>
              <%= link_to "Full Site", :mobile => 0 %>
            <% else %>
              <%= link_to "Mobile Site", :mobile => 1 %>
            <% end %>
        </h2>
        <h2><%= link_to "Home",    root_path %></h2>
        <h2><%= link_to "Help",    help_path %></h2>
        <h2><%= link_to "Sign in", '#' %></h2>
        <h2><%= link_to "About",   about_path %></h2>
        <h2><%= link_to "Contact", contact_path %></h2>
        <h2><a href="http://news.railstutorial.org/">News</a></h2>
        <h2><%= link_to "Sign up now!", signup_path,
        		class: "btn btn-large btn-primary" %></h2>
      
    </article>
  
  </div>
</section>